<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @timesheet.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @timesheet.name %>
</p>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
