<%= form_for(@draft_timesheet) do |f| %>
  <% if @draft_timesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draft_timesheet.errors.count, "error") %> prohibited this draft_timesheet from being saved:</h2>

      <ul>
      <% @draft_timesheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
